<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Biblioteca oficial do Supabase -->
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>

    <!-- Configuração do seu projeto -->
    <script src="/static/script/supabase-config.js"></script>

    <!-- Script da página -->
    <script src="/static/script/perfil.js" type="module"></script>

  <title>Perfil</title>
</head>
<body>
  <div class="nome_usuario"></div>
  <div class="email_usuario"></div>

</body>
</html>
